/* CSS */
*{
	padding: 0;
	margin: 0;
}

html, body {
	
}

body {
	background: black;
	color: whitesmoke;
}

.cabe {
	text-align: center;
}

.logo {
	width:250px;
	height: 60px;
}

.section {
	margin-top: 5px;
	letter-spacing: 1px;
	text-align: center;
	font-size: 19px;
	background: transparent;
	color: #dad7bd;
	width: 225px;
	height: 300px;
	padding: 10px;
	border-radius: 5px;
	display: block;
	margin-left: auto; /* PARA CENTRAR LA CAJA*/
	margin-right: auto;/* PONER LEFT Y RIGHT*/
}

a {
	text-decoration: none;
}

.enla {
	text-align: center;
	margin-top: 13px;
}

.foto {
	width: 30px;
	border-radius: 50%;
	height: 30px;
	margin-left: 20px;
	top: -10px;
	position: relative;
	float: right;
}

}

.footer {
	letter-spacing: 1px;
}

.yea { position: absolute; float: right; }

@media screen and (min-width: 768px) {

	header {
		height: 60px;
	}

	.logo {
		width:400px;
		height: 90px;
	}

	.section {
		 	font-size: 22px;
		 	width: 600px;
		 }

	.foto {
		width: 40px;
		border-radius: 50%;
		height: 40px;
		margin-left: 20px;
		top: -10px;
		position: relative;
	 }

	 
}



